@font-face {
  font-family: 'nongooglefont';
  src: url("../fonts/otherfont.ttf");
}
p {
    margin: 100px;
    border: 5px solid #76d2e2;
    font: italic bold 12px/30px;

}

h1 {
  font-family: 'nongooglefont';
  color:blue;
}

p {
  font-family: 'Mali', cursive;
}

h2 {
padding: 90px;
border: 1px solid #ab88cc;
}
